/* Global things */
body {
	color: var(--color);
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background);
}

* {
	transition-duration: 0.5s;
	font-family: "Computer Modern", "Inconsolata", "Courier New", monospace;
	margin: auto;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

*:focus {
	outline: none;
	/* webkit-outline: none;*/
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Computer Modern", "Inconsolata", 
}

ul {
	list-style-type: disc;
	margin: 0;
	padding-left: 20px;
}

ul ul {
	list-style-type: circle;
	margin: 0;
	padding-left: 20px;
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	cursor: not-allowed;
}

.link{
    color: #a5d8f6;
	cursor: pointer;
	text-decoration: underline;  
    transition-duration: .2s;
}

.link:hover {
    text-shadow: 3px 0 10px #a5d8f6, -3px 0 10px #a5d8f6;
}

html, body {
	min-height: 100%;
	height: 100%;
}

.textleft {
	text-align: left;
}

.fullWidth {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

.tooltipBox { 
    position: relative;
}

.tooltipBox:hover.tooltip{
    opacity: 1;
}

.forceTooltip.tooltip{
    opacity: 1;
}

button > * {
	pointer-events:none;
}

.emailbutton {
    background-color: rgba(20, 20, 20, 0.5);
    color: white;
    border-radius: 5px;
	border: 2px solid rgb(100, 20, 100, 0.5);
    padding: 5px 20px;
    font-size: 10px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
	width: 350px;
    transition: background-color .8s ease, transform .3s ease;
}

.emailbutton:hover {
	background-color: rgba(100, 20, 100, .5);
}

.wrap-photo { /* to allow for wrapping around a photo */
  float: right;
  width: 200px;
  height: auto;
  margin: 1rem 1rem 1rem 2rem; /* specifical spacing */
}