/* Global things */
body {
	color: var(--color);
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background);
	overflow: hidden;
}

* {
	transition-duration: 0.5s;
	font-family: "Computer Modern", "Inconsolata", "Courier New", monospace;
	margin: auto;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

*:focus {
	outline: none;
	/* webkit-outline: none;*/
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Computer Modern", "Inconsolata", 
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	cursor: not-allowed;
}

.link {
	display: block;
	font-size: 15px;
	color: #41f5f5;
	cursor: pointer;
	font-family: "Computer Modern", "Lucida Console", "Courier New", monospace;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #02f2f2;
	text-decoration: none;
}

.link:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0 10px #02f2f2,
              -3px 0 12px #02f2f2;
}

html, body {
	min-height: 100%;
	height: 100%;
}

.textleft {
	text-align: left;
}

.fullWidth {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s
}

.tooltipBox { 
    position: relative;
}

.tooltipBox:hover.tooltip{
    opacity: 1;
}

.forceTooltip.tooltip{
    opacity: 1;
}

button > * {
	pointer-events:none;
}

.emailbutton {
    background-color: rgba(20, 20, 20, 0.5);
    color: white;
    border-radius: 5px;
	border: 2px solid rgb(100, 20, 100, 0.5);
    padding: 5px 20px;
    font-size: 10px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
	width: 350px;
    transition: background-color .8s ease, transform .3s ease;
}

.emailbutton:hover {
	background-color: rgba(100, 20, 100, .5);
}